<%= render "head/header"%>
<section class="row">
  <%= render "nav_left" %>
  <div class="col-xl-8 nav-bw px-0">
    <%=button_to "Photo", feed_path(current_user.id), method: :get, id: "photo"%>
    <%# <button type="submit" id="photo"><%=t ".photo"%><%#</button> %>
    <%=button_to "Album", feed_albums_path(current_user.id), method: :get, id: "album"%>
    <%# <button type="submit" id="album"><%=t ".album"%><%#</button> %>
    <%@users_fl_album.each do |following|%>
      <% following.albums.each do |album|%>
        <%if not album.is_private?%>
          <div class="alb">
            <%= image_tag(album.images.first.url,class:"feed_album1")%>
            <%= image_tag(album.images.first.url,class:"feed_album2")%>
            <%= image_tag(album.images.first.url,class:"feed_album3")%>
            <% if not following.avatar?%>
              <%=image_tag("avatar_nil",class: "rounded-circle")%>
            <%else%>
              <%= image_tag(following.avatar.url, class: "rounded-circle")%>
            <%end%>
            <%= link_to following.first_name.capitalize() + ' ' + following.last_name.capitalize(),user_photos_path(following), class: "user"%>
            <br>
            <br>
            <p class= "tit"><%=album.title%></p>
            <p class="tex"><%= album.description%></p>
            <i class="fas fa-heart">123</i>
            <p class="date"><%= album.created_at%></p>
          </div>
        <%end%>
      <%end%>
    <%end%>
    <div><i class="fas fa-spinner fa-spin fa-3x"></i></div>
  </div>
  <%= render "nav_right" %>
</section>
