  <%= render "admin/header"%>
<section class="row">
  <%= render "admin/nav_left" %>
  <div class="col-xl-8 nav-bw px-0 nav_bww">
    <h4>Edit User Profile</h4>
    <%=render "form_edit"%>
  </div>
  <%= render "admin/nav_right" %>
  <%=render 'admin/footer'%>
</section>
